.outer-container{
margin: 0;
padding:0;
background:linear-gradient(135deg, rgba(119, 130, 134, 0.8), rgba(99, 145, 153, 0.8));    
}
.registration-container {
    width: 90%;  
    max-width: 400px;
    margin: 1.5rem auto;
    padding: 20px;
    background-color: rgb(117, 146, 137);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(209, 156, 156, 0.1);   
  }
   /* logo style */
   .logo-container > img{
    width: 20vh;
    height: 8vh;
    margin-top: 1rem;
  }
  
  
  form {
    display: flex;
    flex-direction: column;
    
  }
 
  .register-heading{
    margin-top: -1rem;
  }
  #mobileNo{
    width: 60%;
    margin-left: 2px;
    margin-right: 2px;
  }
  #phoneNo{
    width: 60%;
  }
  label {
    margin-bottom: 8px;
  }
  .gender-container{
    display: flex;       
  }
  .radio-group{
    margin-left:2rem;
  }
  input,
  select,
  button {
    margin-bottom: 16px;
    padding: 8px;
    box-sizing:border-box;
    border-radius: .5rem;
    background: #fff;
  }
  
  .hobbies-container {
    display: flex;
    flex-wrap: wrap;
  }
  .contactContainer {
    display: flex;
    justify-content: space-between;
    margin: 2px;
  }
  .checkbox-label {
    margin-right: 20px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  .google-container {
    margin-top: 2rem;   
  }
  .google-container > input{
     width: 70%;
  }
  .autocomplete-results{
    width: 100%;
    margin:0;
    background-color: white;
    color: black;
    border-radius: .1rem;
  }

 